<!DOCTYPE html>
<html>
<head>
    <title>卡门平台下单通讯记录</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <!--<div class="grid-btn">-->
			<!--<#if shiro.hasPermission("transfer:transferrequestrecord:save")>-->
            <!--<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>-->
			<!--</#if>-->
			<!--<#if shiro.hasPermission("transfer:transferrequestrecord:update")>-->
            <!--<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
			<!--</#if>-->
			<!--<#if shiro.hasPermission("transfer:transferrequestrecord:delete")>-->
            <!--<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
			<!--</#if>-->
        <!--</div>-->
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">请求参数</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transferRequestRecord.request" placeholder="请求参数"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">响应参数</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transferRequestRecord.response" placeholder="响应参数"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">异常信息</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transferRequestRecord.exception" placeholder="异常信息"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">请求来源ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transferRequestRecord.sourceId" placeholder="请求来源ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">请求时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transferRequestRecord.createTime" placeholder="请求时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">响应时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transferRequestRecord.responseTime" placeholder="响应时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">来源类型1：受理信息，2：办结信息</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="transferRequestRecord.type" placeholder="来源类型1：受理信息，2：办结信息"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/transfer/transferrequestrecord.js?_${.now?long}"></script>
</body>
</html>